.wrapper {
    position: relative;
}

.gradient {
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-30deg, #f700ff 50%, #2fff00 50%);
}

.gradient > div {
    display: flex;
    height: 50vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.active-zone {
    position: absolute;
    display: flex;
    top: -60vh;
    left: -60vw;
    right: -60vw;
    bottom: -60vh;
    transform: rotate(60deg);
}

.active-zone a {
    display: flex;
    flex: 1;
}

.active-zone-first {
    opacity: 0.8;
    background-color: #f700ff;
    transition: 0.5s ease-out;
}

.active-zone-first:hover {
    opacity: 0;
    transition: 0.5s ease-in;
}

.active-zone-second {
    opacity: 0.8;
    background-color: #2fff00;
    transition: 0.5s ease-out;
}

.active-zone-second:hover {
    opacity: 0;
    transition: 0.5s ease-in;
}
