.calendar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 8px;
}

.calendar-nav-month {
    width: 120px;
    margin: 0 8px;
    text-align: center;
}

.calendar-nav-arrow {
    padding: 0 8px;
}
